mixin sidebar()
	aside.sidebar
		.sidebar__block
			h2.sidebar__title Основные услуги
			ul.sidebar__nav
				li.sidebar__item
					a.sidebar__link(href="#") Умный дом
				li.sidebar__item.current-menu-item
					a.sidebar__link(href="#") Освещение
				li.sidebar__item
					a.sidebar__link(href="#") Управление климатом
				li.sidebar__item
					a.sidebar__link(href="#") Безопасность
				li.sidebar__item
					a.sidebar__link(href="#") Видеонаблюдение
				li.sidebar__item
					a.sidebar__link(href="#") Установка Hi

		.sidebar__block
			h2.sidebar__title Дополнительные услуги
			ul.sidebar__nav
				li.sidebar__item
					a.sidebar__link(href="#") Дизайн интерьера
				li.sidebar__item
					a.sidebar__link(href="#") Отделочные работы
				li.sidebar__item
					a.sidebar__link(href="#") Электромонтажные работы

mixin sidebar-news()
	aside.sidebar
		.sidebar__block
			h2.sidebar__title.sidebar__title_heavy Последние новости
			ul.sidebar__filter
				li.sidebar__filter-item
					a.sidebar__filter-link(href="#") За неделю
				li.sidebar__filter-item
					a.sidebar__filter-link(href="#") За месяц
				li.sidebar__filter-item
					a.sidebar__filter-link(href="#") За год


mixin sidebar-contacts()
	aside.sidebar
		.sidebar__block.side-contacts
			h2.side-contacts__title Время работы:

			p.side-contacts__text с 09.00 до 18.00
			p.side-contacts__text без выходных
			p.side-contacts__text без перерывов

		.sidebar__block.side-contacts
			h2.side-contacts__title Контакты:

			p.side-contacts__text тел. 050 550 50 10
			p.side-contacts__text тел. 068 550 50 10
			p.side-contacts__text тел. 073 550 50 10
			p.side-contacts__text email: extratech@mail.ru
			p.side-contacts__text skype:
			p.side-contacts__text viber:
			p.side-contacts__text vk:
			p.side-contacts__text facebook:
			p.side-contacts__text instagram:
			p.side-contacts__text youtube:
			p.side-contacts__text pinterest:

		.sidebar__block.side-contacts
			h2.side-contacts__title Адрес:

			p.side-contacts__text г. Львов, ул. Кутузова, д. 18
