@font-face {
	font-family: 'FranklinGothic-Book';
	src: url('../fonts/fg/subset-FranklinGothic-Book.woff2') format('woff2'),
		url('../fonts/fg/subset-FranklinGothic-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FranklinGothic-Demi';
	src: url('../fonts/fg/subset-FranklinGothic-Demi.woff2') format('woff2'),
		url('../fonts/fg/subset-FranklinGothic-Demi.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


$fd = 'FranklinGothic-Demi', Arial,"Helvetica Neue",Helvetica,sans-serif
$fb = 'FranklinGothic-Book', Arial,"Helvetica Neue",Helvetica,sans-serif
