extends /blocks/layout-default/layout-contacts

include /blocks/icon/icon
include /blocks/header/header
include /blocks/main/main
include /blocks/breadcrumbs/breadcrumbs
include /blocks/sidebar/sidebar
include /blocks/content/content
include /blocks/map/map





include /blocks/footer/footer

block head
	- var pageTitle = 'Контакты';
block content

	+header-inner()
	+main()
		+breadcrumbs()
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#link") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#link") Контакты
		+sidebar-contacts()
		+content()
			h1.content__title Контакты
			+map()


	+footer()
