mixin services()
	section.services
		.services__in
			h2.services__title Услуги

			ul.services__list
				li.services__item.services__item_first
					a.services__link(href="#link" style="")
						span.services__item-title Системы “Умный дом”
						span.services__more Подробнее
				li.services__item
					a.services__link(href="#link")
						span.services__item-title Освещение
						span.services__more Подробнее
				li.services__item
					a.services__link(href="#link")
						span.services__item-title Управление климатом
						span.services__more Подробнее
				li.services__item
					a.services__link(href="#link")
						span.services__item-title <strong>Безопасность</strong> (сигнализация, системы контроля доступа )
						span.services__more Подробнее
				li.services__item
					a.services__link(href="#link")
						span.services__item-title Видеонаблюдение
						span.services__more Подробнее
				li.services__item
					a.services__link(href="#link")
						span.services__item-title Установка HI FI
						span.services__more Подробнее
				li.services__item.services__item_last
					a.services__link(href="#link")
						span.services__item-title Дизайн интерьера
						span.services__more Подробнее
				li.services__item.services__item_last
					a.services__link(href="#link")
						span.services__item-title Отделочные работы
						span.services__more Подробнее
				li.services__item.services__item_last
					a.services__link(href="#link")
						span.services__item-title Электромонтажные работы
						span.services__more Подробнее

