.partners
	margin-top 98px
	margin-bottom 32px
	display block
	&__list
		font-size 0
	&__item
		margin-left 30px
		display inline-block
		vertical-align top
		&:first-child
			margin-left 0
	&__item_itre
		.partners__link
			sprite($logo_itre)
	&__item_lightstar
		.partners__link
			sprite($logo_lightstar)
	&__item_morosini
		.partners__link
			sprite($logo_morosini)

	&__link
		display block

