mixin header()
	header.header
		.header__in
			.header__left
				a.header__logo.logo(href="#logo")
					+icon('logo', true).logo__icon
					span.logo__text Extratech

			.header__nav-w

				nav.header__nav.nav

					.nav__trigger
						label.nav__trigger-button(for='nav') Меню

					input.nav__trigger-input#nav(type="checkbox", value="")

					.nav__list-w
						ul.nav__list
							li.nav__item
								a(href="#link") Новости
							li.nav__item
								a(href="#link") Услуги
							li.nav__item
								a(href="#link") Контакты

						.header__lang.lang
							a.lang__link.lang__link_active(href="#ua") ua
							a.lang__link(href="#ru") ru
							a.lang__link(href="#eng") eng

			.header__contacts.h-contacts
				.h-contacts__w
					a.h-contacts__phone.phone(href="tel:0505505010") 050 550 50 10
					a.h-contacts__phone.phone(href="tel:0685505010") 068 550 50 10
					a.h-contacts__phone.phone(href="tel:0735505010") 073 550 50 10
				ul.h-contacts__social.social
					li.social__item.social__item_vk
						a.social__link(href="") Vkontakte
					li.social__item.social__item_youtube
						a.social__link(href="") Youtube
					li.social__item.social__item_inst
						a.social__link(href="") Instagram
					li.social__item.social__item_fb
						a.social__link(href="") Facebook
					li.social__item.social__item_pint
						a.social__link(href="") Pinterest
				ul.h-contacts__social.social
					li.social__item.social__item_text.social__item_skype-big
						a.social__link(href="") номер скайпа
					li.social__item.social__item_text.social__item_phone
						a.social__link(href="") номер телеграм
					li.social__item.social__item_text.social__item_phone
						a.social__link(href="") номер вайбера
					li.social__item.social__item_text.social__item_email-big
						a.social__link(href="") e-mail


mixin header-inner()
	header.header.header_inner
		.header__in
			.header__left
				a.header__logo.logo(href="#logo")
					+icon('logo', true).logo__icon
					span.logo__text Extratech

			.header__nav-w

				nav.header__nav.nav

					.nav__trigger
						label.nav__trigger-button(for='nav') Меню

					input.nav__trigger-input#nav(type="checkbox", value="")

					.nav__list-w
						ul.nav__list
							li.nav__item
								a(href="#link") Новости
							li.nav__item
								a(href="#link") Услуги
							li.nav__item
								a(href="#link") Контакты

						.header__lang.lang
							a.lang__link.lang__link_active(href="#ua") ua
							a.lang__link(href="#ru") ru
							a.lang__link(href="#eng") eng

			.header__contacts.h-contacts
				.h-contacts__w
					a.h-contacts__phone.phone(href="tel:0505505010") 050 550 50 10
					a.h-contacts__phone.phone(href="tel:0685505010") 068 550 50 10
					a.h-contacts__phone.phone(href="tel:0735505010") 073 550 50 10
				ul.h-contacts__social.social
					li.social__item.social__item_vk
						a.social__link(href="") Vkontakte
					li.social__item.social__item_youtube
						a.social__link(href="") Youtube
					li.social__item.social__item_inst
						a.social__link(href="") Instagram
					li.social__item.social__item_fb
						a.social__link(href="") Facebook
					li.social__item.social__item_pint
						a.social__link(href="") Pinterest
				ul.h-contacts__social.social
					li.social__item.social__item_text.social__item_skype-big
						a.social__link(href="") номер скайпа
					li.social__item.social__item_text.social__item_phone
						a.social__link(href="") номер телеграм
					li.social__item.social__item_text.social__item_phone
						a.social__link(href="") номер вайбера
					li.social__item.social__item_text.social__item_email-big
						a.social__link(href="") e-mail
