mixin header()
	header.header
		.header__container
			.header__left
				a.header__logo.logo(href="#logo") Extratech
				.header__lang.lang
					a.lang__link(href="#ua") ua
					a.lang__link(href="#ru") ru
					a.lang__link(href="#eng") eng

			nav.header__nav.nav
				ul.nav__list
					li
						a(href="#link") Новости
					li
						a(href="#link") Услуги
					li
						a(href="#link") Контакты

		.header__contacts.h-contacts
			a.h-contacts__phone.phone(href="tel:") 050 550 50 10
			a.h-contacts__phone.phone(href="tel:") 068 550 50 10
			a.h-contacts__phone.phone(href="tel:") 073 550 50 10
			.h-contacts__social
				a.social__link.social__link_vk(href="") Vkontakte
				a.social__link.social__link_youtube(href="") Youtube
				a.social__link.social__link_inst(href="") Instagram
				a.social__link.social__link_fb(href="") Facebook
				a.social__link.social__link_pint(href="") Pinterest

