mixin footer()
	footer.footer
		.footer__in
			a.footer__logo.logo(href="#logo")
				+icon('logo', true).logo__icon
				span.logo__text Extratech
			.footer__phones
				.phone.phone_horiz 050 550 50 10
				.phone.phone_horiz 068 550 50 10
				.phone.phone_horiz 073 550 50 10
			ul.footer__social.social
				li.social__item.social__item_vk
					a.social__link(href="") Vkontakte
				li.social__item.social__item_youtube
					a.social__link(href="") Youtube
				li.social__item.social__item_inst
					a.social__link(href="") Instagram
				li.social__item.social__item_skype
					a.social__link(href="") Skype
				li.social__item.social__item_email
					a.social__link(href="") Email
